* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Fira Code", monospace;
}

body {
  margin: 15px;
  max-width: 600px;
}

hr {
  margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 10px 20px;
}

code {
  white-space: break-spaces;
}

pre {
  margin: 10px 0;
}

BLOCKQUOTE {
  margin: 20px;
}

.md-link {
  /* Override for .hlsj from highlight.js */
  background: #ccc !important;
}

.hljs-ln-numbers {
  vertical-align: top;
}
.hljs-ln-line {
  margin-right: 15px;
}
.nohljsln .hljs-ln-numbers {
  display: none;
}

.notice {
  color: black;
  padding: 10px;
  margin: 20px;
  background-color: rgb(255, 255, 191);
  font-weight: bold;
}

.pkgcmds {
  position: relative;
}
.pkgcmds > *,
.pkgcmds pre {
  margin-left: 40px !important;
}
.pkgcmds blockquote,
.pkgcmds .notice {
  margin-left: 60px !important;
}

.vert-hr {
  position: absolute;
  margin: 0 0 0 20px !important;
  height: 100%;
}
