* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Fira Code", monospace;
}

body {
  margin: 15px;
  max-width: 600px;
}

hr {
  margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 10px 20px;
}

pre {
  margin: 10px 0;
}

BLOCKQUOTE {
  margin-left: 20px;
  margin-bottom: 20px;
}

.md-link {
  /* Override for .hlsj from highlight.js */
  background: #ccc !important;
}
