* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

body {
  margin: 10px;
  max-width: 600px;
  background-color: black;
  color: white;
  font-family: "Open Sans", sans-serif;
  visibility: hidden;
}

/* Because h1 inside <section> is smaller than normal */
h1 {
  font-size: 2em;
}

h1,
h2,
h3 {
  padding: 2px 0;
  margin: 2px 0;
}

p {
  /* padding: 2px; */
  margin: 2px;
}

ul {
  list-style-type: none;
}
li {
  padding: 2px;
  margin: 2px;
}

a {
  color: #75bfff;
  letter-spacing: 1px;
  text-decoration: none;
  border-bottom: 1px solid #75bfff;
}
a:visited {
  color: #b98eff;
  border-color: #b98eff;
}

#expandShrinkBtnWrap {
  display: flex;
}
button.expand,
button.shrink {
  margin: 5px 10px;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  background-color: #eee;
  font-size: 1em;
  height: 35px;
  width: 100px;
}
button.expand:active,
button.shrink:active {
  background-color: darkgray;
}
button.expand:active,
button.expand:hover {
  padding: 5px 15px;
  letter-spacing: 2px;
  width: 150px;
}
button.shrink:active,
button.shrink:hover {
  font-size: small;
}

.collapse {
  overflow: hidden;
  user-select: none;
  background-color: black;
  transition: background-color 0.3s;
}

.collapse > .collapse {
  margin-left: 30px;
}
.collapse > *:not(h1, h2, h3) {
  margin-left: 15px;
}

/* To highlight parent containers enable this rule,
then change the rule below to be a different color
.collapse:hover {
  background-color: rgb(0, 0, 109);
} */

*:not(html, body, div, section, button, button > p, ul, code, pre):hover {
  background-color: rgb(0, 0, 109);
}

.hljs-ln-n {
  margin-right: 10px;
  font-size: 1.3em;
}

code > * {
  font-family: "Fira Mono", sans-serif;
}
